<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta charset="UTF-8" name="package-mapping" content="br_com_tti_ttidesktopgui_views:br.com.tti.ttidesktopgui.views">
 </head> 
 <body> 
  <vaadin-vertical-layout size-full> 
   <vaadin-form-layout size-auto :center> 
    <vaadin-text-field caption="Login" height="37px" _id="login"></vaadin-text-field> 
    <vaadin-text-field caption="Nome" width="185px" _id="nome"></vaadin-text-field> 
    <vaadin-list-select caption="CNPJs" item-caption-mode="id" width="185px" _id="cnpjList"></vaadin-list-select> 
    <vaadin-inline-date-field _id="data"></vaadin-inline-date-field> 
    <vaadin-button plain-text _id="btnOK">
      OK 
    </vaadin-button> 
   </vaadin-form-layout> 
   <vaadin-form-layout size-auto></vaadin-form-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>